---
    import ContenedorDatos from '../Nosotros/DataContainer.astro';

    interface Props {
        DatosLocal: { 
            direccion: string,
            localidad: string, 
            horarios: string,
            telefono: string,
            celular: string,
            correo: string,
            imagen: string,
        }
    }

    const { DatosLocal } = Astro.props;
---
<div class="DatosPintor">
    <img src=`${DatosLocal.imagen}` alt="">
    <div class="Datos">
        <ContenedorDatos DatosLocal={DatosLocal}/>
    </div>
</div>
<style>
    .DatosPintor{
        max-width: 1262px;
        width: 95%;
        height: 500px;
        margin: 30px auto;
        position: relative;
    }
    img{
        max-width: 430px;
        width: 100%;
        height: 498px;
        border: 1px solid #000;
        object-fit: cover;
    }
    .Datos{
        max-width: 932px;
        width: 100%;
        height: 350px;
        background-color: #14161D;
        position: absolute;
        bottom: 0px;
        left: 0px;
        /* top: 100px;
        left: 330px;
        border-radius: 5px 100px 5px 5px; */
        background: #14161D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        opacity: 65%;
    }
    @media (min-width: 768px) and (max-width:1199px) {
        .Datos{
            bottom: 10px;
            left: 0px; 
            border-radius: 5px 100px 5px 5px;
            opacity: 70%;
        }
    }
    @media (min-width:1200px) {
        .Datos{
            top: 100px;
            left: 300px; 
            border-radius: 5px 100px 5px 5px;
            opacity: 70%;
        }
    }
</style>