---
import Layout from '../layouts/Layout.astro';
import BarraNavegacionMain from '../components/BarraNavegacionMain.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="CONTACTANOS">
	<div class="ColorFondo">
		<BarraNavegacionMain/>
	</div>
    <h2>CONTACTANOS</h2>
    <h3>NUESTRAS REDES</h3>
    <div class="RedesSociales">
        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
            <path d="M40.4968 24.5898C36.409 24.5898 32.4885 26.2137 29.598 29.1043C26.7074 31.9949 25.0835 35.9153 25.0835 40.0032C25.0835 44.091 26.7074 48.0115 29.598 50.9021C32.4885 53.7926 36.409 55.4165 40.4968 55.4165C44.5847 55.4165 48.5051 53.7926 51.3957 50.9021C54.2863 48.0115 55.9102 44.091 55.9102 40.0032C55.9102 35.9153 54.2863 31.9949 51.3957 29.1043C48.5051 26.2137 44.5847 24.5898 40.4968 24.5898ZM40.4968 50.0132C37.8411 50.0132 35.2942 48.9582 33.4163 47.0803C31.5385 45.2025 30.4835 42.6555 30.4835 39.9998C30.4835 37.3441 31.5385 34.7972 33.4163 32.9193C35.2942 31.0415 37.8411 29.9865 40.4968 29.9865C43.1525 29.9865 45.6995 31.0415 47.5773 32.9193C49.4552 34.7972 50.5102 37.3441 50.5102 39.9998C50.5102 42.6555 49.4552 45.2025 47.5773 47.0803C45.6995 48.9582 43.1525 50.0132 40.4968 50.0132Z" fill="black"/>
            <path d="M56.5201 27.6164C58.5046 27.6164 60.1134 26.0076 60.1134 24.023C60.1134 22.0385 58.5046 20.4297 56.5201 20.4297C54.5355 20.4297 52.9268 22.0385 52.9268 24.023C52.9268 26.0076 54.5355 27.6164 56.5201 27.6164Z" fill="black"/>
            <path d="M68.9435 20.3699C68.1718 18.3772 66.9926 16.5675 65.4813 15.0568C63.97 13.5461 62.1599 12.3675 60.1668 11.5966C57.8346 10.7211 55.3708 10.2477 52.8802 10.1966C49.6702 10.0566 48.6535 10.0166 40.5135 10.0166C32.3735 10.0166 31.3302 10.0166 28.1468 10.1966C25.6581 10.2451 23.196 10.7186 20.8668 11.5966C18.8733 12.3666 17.0627 13.5448 15.5513 15.0557C14.0398 16.5666 12.8609 18.3767 12.0902 20.3699C11.2145 22.702 10.7422 25.1661 10.6935 27.6566C10.5502 30.8633 10.5068 31.8799 10.5068 40.0233C10.5068 48.1633 10.5068 49.1999 10.6935 52.3899C10.7435 54.8833 11.2135 57.3433 12.0902 59.6799C12.8631 61.6725 14.0432 63.4819 15.555 64.9925C17.0668 66.5032 18.877 67.6819 20.8702 68.4533C23.1949 69.3639 25.6581 69.8712 28.1535 69.9533C31.3635 70.0933 32.3802 70.1366 40.5202 70.1366C48.6602 70.1366 49.7035 70.1366 52.8868 69.9533C55.3772 69.9026 57.8409 69.4304 60.1735 68.5566C62.166 67.7839 63.9756 66.6043 65.4867 65.0932C66.9979 63.582 68.1775 61.7724 68.9502 59.7799C69.8268 57.4466 70.2968 54.9866 70.3468 52.4933C70.4902 49.2866 70.5335 48.2699 70.5335 40.1266C70.5335 31.9833 70.5335 30.9499 70.3468 27.7599C70.308 25.2342 69.8333 22.7341 68.9435 20.3699ZM64.8835 52.1433C64.862 54.0643 64.5114 55.9674 63.8468 57.7699C63.3462 59.0662 62.5799 60.2433 61.5971 61.2255C60.6142 62.2078 59.4367 62.9734 58.1402 63.4733C56.3576 64.1348 54.4747 64.4854 52.5735 64.5099C49.4068 64.6566 48.5135 64.6933 40.3935 64.6933C32.2668 64.6933 31.4368 64.6933 28.2102 64.5099C26.3099 64.4867 24.4279 64.136 22.6468 63.4733C21.3458 62.9765 20.1635 62.2122 19.1765 61.2298C18.1894 60.2474 17.4196 59.0686 16.9168 57.7699C16.2617 55.9868 15.9112 54.1061 15.8802 52.2066C15.7368 49.0399 15.7035 48.1466 15.7035 40.0266C15.7035 31.9033 15.7035 31.0733 15.8802 27.8433C15.9017 25.9233 16.2524 24.0213 16.9168 22.2199C17.9335 19.5899 20.0168 17.5199 22.6468 16.5133C24.4288 15.8537 26.3103 15.5031 28.2102 15.4766C31.3802 15.3333 32.2702 15.2933 40.3935 15.2933C48.5168 15.2933 49.3502 15.2933 52.5735 15.4766C54.4749 15.4995 56.358 15.8502 58.1402 16.5133C59.4366 17.0142 60.614 17.7806 61.5967 18.7634C62.5795 19.7461 63.3459 20.9235 63.8468 22.2199C64.502 24.0031 64.8525 25.8838 64.8835 27.7833C65.0268 30.9533 65.0635 31.8433 65.0635 39.9666C65.0635 48.0866 65.0635 48.9599 64.9202 52.1466H64.8835V52.1433Z" fill="black"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
            <path d="M40.5033 6.67285C22.0967 6.67285 7.17334 21.5962 7.17334 40.0029C7.17334 56.6362 19.36 70.4228 35.2967 72.9328V49.6395H26.83V40.0029H35.2967V32.6595C35.2967 24.2995 40.2733 19.6895 47.8833 19.6895C51.53 19.6895 55.35 20.3395 55.35 20.3395V28.5362H51.1367C47.0033 28.5362 45.71 31.1095 45.71 33.7462V39.9962H54.9467L53.47 49.6329H45.71V72.9262C61.6467 70.4295 73.8333 56.6395 73.8333 40.0029C73.8333 21.5962 58.91 6.67285 40.5033 6.67285Z" fill="black"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8433 18.7768C59.0712 15.9864 55.7729 13.7738 52.1395 12.2673C48.5062 10.7607 44.61 9.9901 40.6767 10.0001C24.1833 10.0001 10.7567 23.4234 10.75 39.9234C10.75 45.1968 12.1267 50.3434 14.7433 54.8834L10.5 70.3868L26.3633 66.2234C30.7513 68.6121 35.6673 69.8646 40.6633 69.8668H40.6767C57.1667 69.8668 70.5933 56.4434 70.6 39.9434C70.6113 36.0117 69.8433 32.1167 68.3403 28.4836C66.8372 24.8505 64.6291 21.5513 61.8433 18.7768ZM40.6767 64.8168H40.6667C36.2117 64.8172 31.8388 63.6186 28.0067 61.3468L27.1 60.8068L17.6867 63.2768L20.1967 54.1001L19.6067 53.1601C17.116 49.1948 15.7974 44.606 15.8033 39.9234C15.81 26.2101 26.9667 15.0534 40.6867 15.0534C43.9542 15.0462 47.1907 15.687 50.2088 16.9389C53.227 18.1908 55.9669 20.0289 58.27 22.3468C60.5854 24.6536 62.4206 27.3964 63.6696 30.4168C64.9186 33.4371 65.5566 36.675 65.5467 39.9434C65.54 53.6568 54.3833 64.8168 40.6767 64.8168ZM54.32 46.1868C53.57 45.8101 49.8967 44.0034 49.21 43.7534C48.5267 43.5034 48.03 43.3801 47.53 44.1268C47.03 44.8734 45.5967 46.5568 45.16 47.0568C44.7233 47.5568 44.2867 47.6168 43.54 47.2434C42.7933 46.8701 40.3833 46.0801 37.5267 43.5334C35.3033 41.5501 33.8033 39.1034 33.3667 38.3534C32.93 37.6034 33.32 37.2001 33.6967 36.8268C34.0333 36.4934 34.4433 35.9534 34.8167 35.5168C35.19 35.0801 35.3133 34.7701 35.5633 34.2701C35.8133 33.7701 35.69 33.3334 35.5 32.9601C35.3133 32.5834 33.8167 28.9034 33.1933 27.4068C32.59 25.9568 31.9733 26.1501 31.5133 26.1301C31.0369 26.1106 30.5601 26.1017 30.0833 26.1034C29.7042 26.1131 29.3311 26.201 28.9875 26.3616C28.6439 26.5222 28.3372 26.7521 28.0867 27.0368C27.4 27.7868 25.47 29.5934 25.47 33.2734C25.47 36.9534 28.15 40.5101 28.5233 41.0101C28.8967 41.5101 33.7967 49.0601 41.2967 52.3001C43.0833 53.0701 44.4767 53.5301 45.56 53.8768C47.35 54.4468 48.98 54.3634 50.27 54.1734C51.7067 53.9601 54.6933 52.3668 55.3167 50.6201C55.94 48.8734 55.94 47.3768 55.7533 47.0634C55.5667 46.7501 55.0633 46.5601 54.32 46.1868Z" fill="black"/>
        </svg>
    </div>
    <h3>FORMULARIO</h3>
    <form action="" class="FormularioContacto">
        <div>
            <label for="Nombre">NOMBRE</label>
            <input id="Nombre"   type="text" placeholder="Tu Nombre" required>
        </div>
        <div>
            <label for="correo">CORREO</label>
            <input id="correo"   type="email" placeholder="Tu Correo" required>
        </div>
        <div>
            <label for="asunto">ASUNTO</label>
            <input id="asunto"   type="text" placeholder="Asunto" required>
        </div>
        <div>
            <label for="mensaje">MENSAJE</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" name="enviar" id="enviar"  value="ENVIAR">
    </form>
	<Footer/>  
</Layout>

<style>
    .ColorFondo{
        background-color: #1D1414;
    }
    h2{
        color: #000;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        font-size: 64px;
        margin: 100px 0;
    }
    h3{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        margin: 0;
    }
    .RedesSociales{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 40px;
    }
    form{
        width: 781px;
        height: 793px;
        margin: 0 auto;
    }
    label , input , textarea{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 5px;
    }
    input ,textarea{
        width: 771px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #F7F7F7;
        font-size: 16px;
    }
    textarea{
        height: 150px;
        resize: vertical;
    }
    input[type=submit]{
        color: white;
        height: 50px;
        width: 778px;
        background: #14161D;
        padding: 0;
    }
    form div{
        margin-top: 30px;
    }
    input{
        margin-top: 20px;
    }
</style>
