---
import Layout from '../layouts/Layout.astro';
import BarraNavegacionMain from '../components/BarraNavegacionMain.astro';
import Inspirated from '../components/Inspired/Inspired.astro';
import Footer from "../components/Footer.astro";
import BtnCargarMas from "../components/BtnCargarMas.astro";
---

<Layout title="INSPIRATE">
	<div class="ColorFondo">
		<BarraNavegacionMain/>
	</div>
    <h2>INSPIRATE</h2>
	<Inspirated/>  
	<BtnCargarMas/>  
	<Footer/>  
</Layout>

<style>
    .ColorFondo{
        background-color: #1D1414;
    }
    h2{
        color: #000;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        font-size: 64px;
        margin: 100px 0;
    }
</style>
