---
    interface Props {
        DatosPintor: { nombre: string, tipoPintor: string, Descripcion: string }
    }

const { DatosPintor } = Astro.props;
---

<div class="ContenedorDatos">
    <div class="Datos">
        <h2>{DatosPintor.nombre}</h2>
        <h3>{DatosPintor.tipoPintor}</h3>
        <p>
            {DatosPintor.Descripcion}
        </p>
    </div>
    <div class="RedesSociales">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M46.0075 14.0826C43.9284 11.9898 41.4547 10.3304 38.7297 9.20044C36.0046 8.07053 33.0825 7.49257 30.1325 7.50007C17.7625 7.50007 7.6925 17.5676 7.6875 29.9426C7.6875 33.8976 8.72 37.7576 10.6825 41.1626L7.5 52.7901L19.3975 49.6676C22.6885 51.4591 26.3755 52.3984 30.1225 52.4001H30.1325C42.5 52.4001 52.57 42.3326 52.575 29.9576C52.5835 27.0088 52.0075 24.0876 50.8802 21.3627C49.7529 18.6379 48.0968 16.1635 46.0075 14.0826ZM30.1325 48.6126H30.125C26.7838 48.6129 23.5041 47.714 20.63 46.0101L19.95 45.6051L12.89 47.4576L14.7725 40.5751L14.33 39.8701C12.462 36.8961 11.4731 33.4545 11.4775 29.9426C11.4825 19.6576 19.85 11.2901 30.14 11.2901C32.5906 11.2846 35.018 11.7653 37.2816 12.7042C39.5453 13.6431 41.6002 15.0217 43.3275 16.7601C45.064 18.4902 46.4405 20.5473 47.3772 22.8126C48.314 25.0778 48.7924 27.5063 48.785 29.9576C48.78 40.2426 40.4125 48.6126 30.1325 48.6126ZM40.365 34.6401C39.8025 34.3576 37.0475 33.0026 36.5325 32.8151C36.02 32.6276 35.6475 32.5351 35.2725 33.0951C34.8975 33.6551 33.8225 34.9176 33.495 35.2926C33.1675 35.6676 32.84 35.7126 32.28 35.4326C31.72 35.1526 29.9125 34.5601 27.77 32.6501C26.1025 31.1626 24.9775 29.3276 24.65 28.7651C24.3225 28.2026 24.615 27.9001 24.8975 27.6201C25.15 27.3701 25.4575 26.9651 25.7375 26.6376C26.0175 26.3101 26.11 26.0776 26.2975 25.7026C26.485 25.3276 26.3925 25.0001 26.25 24.7201C26.11 24.4376 24.9875 21.6776 24.52 20.5551C24.0675 19.4676 23.605 19.6126 23.26 19.5976C22.9027 19.583 22.5451 19.5763 22.1875 19.5776C21.9031 19.5848 21.6233 19.6507 21.3657 19.7712C21.108 19.8916 20.8779 20.064 20.69 20.2776C20.175 20.8401 18.7275 22.1951 18.7275 24.9551C18.7275 27.7151 20.7375 30.3826 21.0175 30.7576C21.2975 31.1326 24.9725 36.7951 30.5975 39.2251C31.9375 39.8026 32.9825 40.1476 33.795 40.4076C35.1375 40.8351 36.36 40.7726 37.3275 40.6301C38.405 40.4701 40.645 39.2751 41.1125 37.9651C41.58 36.6551 41.58 35.5326 41.44 35.2976C41.3 35.0626 40.9225 34.9201 40.365 34.6401Z" fill="white"/>
            </svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
                <path d="M33.4926 52.4929V32.0029H40.4051L41.4326 23.9804H33.4926V18.8704C33.4926 16.5554 34.1376 14.9704 37.4601 14.9704H41.6701V7.81792C39.6217 7.5984 37.5627 7.4924 35.5026 7.50042C29.3926 7.50042 25.1976 11.2304 25.1976 18.0779V23.9654H18.3301V31.9879H25.2126V52.4929H33.4926Z" fill="white"/>
            </svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
                <path d="M46.8249 13.5248L43.6249 16.0247L29.9999 26.1497L16.3749 15.9248L13.1749 13.4248C12.421 12.8011 11.5008 12.4124 10.5281 12.3066C9.55545 12.2009 8.57315 12.3829 7.7029 12.83C6.83265 13.2771 6.1127 13.9697 5.63223 14.8219C5.15176 15.6742 4.9319 16.6487 4.99988 17.6248V46.5997C4.99988 47.5015 5.35809 48.3663 5.99572 49.0039C6.63334 49.6415 7.49814 49.9997 8.39988 49.9997H16.3749V30.6997L29.9999 40.9247L43.6249 30.6997V49.9997H51.5999C52.5016 49.9997 53.3664 49.6415 54.004 49.0039C54.6417 48.3663 54.9999 47.5015 54.9999 46.5997V17.6248C55.0468 16.6572 54.8117 15.6968 54.323 14.8603C53.8343 14.0239 53.1132 13.3474 52.2473 12.9131C51.3814 12.4788 50.4079 12.3054 49.4453 12.414C48.4827 12.5226 47.5723 12.9085 46.8249 13.5248Z" fill="white"/>
            </svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
                <path d="M29.9975 18.4424C26.9316 18.4424 23.9913 19.6603 21.8233 21.8282C19.6554 23.9962 18.4375 26.9365 18.4375 30.0024C18.4375 33.0683 19.6554 36.0086 21.8233 38.1765C23.9913 40.3445 26.9316 41.5624 29.9975 41.5624C33.0634 41.5624 36.0037 40.3445 38.1717 38.1765C40.3396 36.0086 41.5575 33.0683 41.5575 30.0024C41.5575 26.9365 40.3396 23.9962 38.1717 21.8282C36.0037 19.6603 33.0634 18.4424 29.9975 18.4424ZM29.9975 37.5099C28.0057 37.5099 26.0955 36.7187 24.6871 35.3103C23.2787 33.9019 22.4875 31.9917 22.4875 29.9999C22.4875 28.0081 23.2787 26.0979 24.6871 24.6895C26.0955 23.2811 28.0057 22.4899 29.9975 22.4899C31.9893 22.4899 33.8995 23.2811 35.3079 24.6895C36.7163 26.0979 37.5075 28.0081 37.5075 29.9999C37.5075 31.9917 36.7163 33.9019 35.3079 35.3103C33.8995 36.7187 31.9893 37.5099 29.9975 37.5099Z" fill="white"/>
                <path d="M42.0148 20.7123C43.5032 20.7123 44.7098 19.5057 44.7098 18.0173C44.7098 16.5289 43.5032 15.3223 42.0148 15.3223C40.5264 15.3223 39.3198 16.5289 39.3198 18.0173C39.3198 19.5057 40.5264 20.7123 42.0148 20.7123Z" fill="white"/>
                <path d="M51.3324 15.2777C50.7536 13.7831 49.8692 12.4259 48.7357 11.2928C47.6022 10.1598 46.2447 9.27587 44.7499 8.6977C43.0007 8.04109 41.1528 7.68605 39.2849 7.6477C36.8774 7.5427 36.1149 7.5127 30.0099 7.5127C23.9049 7.5127 23.1224 7.5127 20.7349 7.6477C18.8684 7.68409 17.0218 8.0392 15.2749 8.6977C13.7797 9.2752 12.4218 10.1589 11.2882 11.292C10.1546 12.4252 9.27045 13.7828 8.69238 15.2777C8.03564 17.0267 7.68142 18.8748 7.64488 20.7427C7.53738 23.1477 7.50488 23.9102 7.50488 30.0177C7.50488 36.1227 7.50488 36.9002 7.64488 39.2927C7.68238 41.1627 8.03488 43.0077 8.69238 44.7602C9.27208 46.2546 10.1571 47.6116 11.291 48.7446C12.4248 49.8776 13.7825 50.7616 15.2774 51.3402C17.021 52.0232 18.8683 52.4036 20.7399 52.4652C23.1474 52.5702 23.9099 52.6027 30.0149 52.6027C36.1199 52.6027 36.9024 52.6027 39.2899 52.4652C41.1576 52.4272 43.0055 52.073 44.7549 51.4177C46.2493 50.8382 47.6064 49.9535 48.7398 48.8201C49.8732 47.6868 50.7579 46.3296 51.3374 44.8352C51.9949 43.0852 52.3474 41.2402 52.3849 39.3702C52.4924 36.9652 52.5249 36.2027 52.5249 30.0952C52.5249 23.9877 52.5249 23.2127 52.3849 20.8202C52.3558 18.9259 51.9997 17.0508 51.3324 15.2777ZM48.2874 39.1077C48.2713 40.5485 48.0083 41.9758 47.5099 43.3277C47.1344 44.2999 46.5597 45.1827 45.8226 45.9194C45.0854 46.6561 44.2023 47.2303 43.2299 47.6052C41.8929 48.1013 40.4808 48.3643 39.0549 48.3827C36.6799 48.4927 36.0099 48.5202 29.9199 48.5202C23.8249 48.5202 23.2024 48.5202 20.7824 48.3827C19.3572 48.3653 17.9457 48.1022 16.6099 47.6052C15.6341 47.2327 14.7474 46.6594 14.0071 45.9226C13.2668 45.1858 12.6895 44.3017 12.3124 43.3277C11.821 41.9903 11.5582 40.5798 11.5349 39.1552C11.4274 36.7802 11.4024 36.1102 11.4024 30.0202C11.4024 23.9277 11.4024 23.3052 11.5349 20.8827C11.551 19.4428 11.814 18.0162 12.3124 16.6652C13.0749 14.6927 14.6374 13.1402 16.6099 12.3852C17.9464 11.8905 19.3574 11.6276 20.7824 11.6077C23.1599 11.5002 23.8274 11.4702 29.9199 11.4702C36.0124 11.4702 36.6374 11.4702 39.0549 11.6077C40.4809 11.6249 41.8933 11.8879 43.2299 12.3852C44.2022 12.7609 45.0852 13.3357 45.8223 14.0728C46.5594 14.8098 47.1342 15.6929 47.5099 16.6652C48.0013 18.0026 48.2641 19.4131 48.2874 20.8377C48.3949 23.2152 48.4224 23.8827 48.4224 29.9752C48.4224 36.0652 48.4224 36.7202 48.3149 39.1102H48.2874V39.1077Z" fill="white"/>
            </svg>
        </a>
    </div>
</div>
<style>
    .ContenedorDatos{
        width: 100%;
        height: 100%;
        color: #F7F7F7;
        position: relative;
    }
    .Datos{
        position: absolute;
        font-style: normal;
        line-height: normal;
        top: 20px;
        left: 20px;
        /* top: 40px;
        left: 50px; */
    }
    h2,h3{
        margin: 0;
    }
    h2{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }
    h3{
        font-size: 20px;
        font-weight: 300;
    }
    p{
        max-width: 495px;
        width: 100%;
        height: 137px;
        font-size: 16px;
        font-weight: 300;
    }
    .RedesSociales{
        max-width: 330px;
        width: 100%;
        height: 60px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .RedesSociales a {
        width: 50px;
        height: 50px;
    }
</style>