<div class="Footer">
    <div class="Informacion">
        <div class="Datos">
            <div class="Logo">
                <h2>PAINTSHOP</h2>
                <span>- SINCE 1995 -</span>
            </div>
            <form id="FormularioSuscribirse">
                <label for="inputEmail">MANTENTE EN CONTACTO</label>
                <input type="email" placeholder="Email@paintshop.com" id="inputEmail">
                <input type="submit" value="SUSCRIBIRSE" class="boton">
            </form>
        </div>
        <div class="RedesSociales">
            <h3>NUESTRAS REDES</h3>
            <div class="IconosRedes">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 81 81" fill="none">
                        <path d="M40.4968 25.4648C36.409 25.4648 32.4885 27.0887 29.598 29.9793C26.7074 32.8699 25.0835 36.7903 25.0835 40.8782C25.0835 44.966 26.7074 48.8865 29.598 51.7771C32.4885 54.6676 36.409 56.2915 40.4968 56.2915C44.5847 56.2915 48.5051 54.6676 51.3957 51.7771C54.2863 48.8865 55.9102 44.966 55.9102 40.8782C55.9102 36.7903 54.2863 32.8699 51.3957 29.9793C48.5051 27.0887 44.5847 25.4648 40.4968 25.4648ZM40.4968 50.8882C37.8411 50.8882 35.2942 49.8332 33.4163 47.9553C31.5385 46.0775 30.4835 43.5305 30.4835 40.8748C30.4835 38.2191 31.5385 35.6722 33.4163 33.7943C35.2942 31.9165 37.8411 30.8615 40.4968 30.8615C43.1525 30.8615 45.6995 31.9165 47.5773 33.7943C49.4552 35.6722 50.5102 38.2191 50.5102 40.8748C50.5102 43.5305 49.4552 46.0775 47.5773 47.9553C45.6995 49.8332 43.1525 50.8882 40.4968 50.8882Z" fill="#F7F7F7"/>
                        <path d="M56.5201 28.4914C58.5046 28.4914 60.1134 26.8826 60.1134 24.898C60.1134 22.9135 58.5046 21.3047 56.5201 21.3047C54.5355 21.3047 52.9268 22.9135 52.9268 24.898C52.9268 26.8826 54.5355 28.4914 56.5201 28.4914Z" fill="#F7F7F7"/>
                        <path d="M68.9435 21.2459C68.1718 19.2532 66.9926 17.4435 65.4813 15.9328C63.97 14.422 62.1599 13.2435 60.1668 12.4726C57.8346 11.5971 55.3708 11.1237 52.8802 11.0726C49.6702 10.9326 48.6535 10.8926 40.5135 10.8926C32.3735 10.8926 31.3302 10.8926 28.1468 11.0726C25.6581 11.1211 23.196 11.5946 20.8668 12.4726C18.8733 13.2426 17.0627 14.4208 15.5513 15.9317C14.0398 17.4425 12.8609 19.2527 12.0902 21.2459C11.2145 23.578 10.7422 26.042 10.6935 28.5326C10.5502 31.7392 10.5068 32.7559 10.5068 40.8992C10.5068 49.0392 10.5068 50.0759 10.6935 53.2659C10.7435 55.7592 11.2135 58.2192 12.0902 60.5559C12.8631 62.5484 14.0432 64.3578 15.555 65.8685C17.0668 67.3791 18.877 68.5578 20.8702 69.3292C23.1949 70.2399 25.6581 70.7472 28.1535 70.8292C31.3635 70.9692 32.3802 71.0126 40.5202 71.0126C48.6602 71.0126 49.7035 71.0126 52.8868 70.8292C55.3772 70.7786 57.8409 70.3064 60.1735 69.4326C62.166 68.6599 63.9756 67.4803 65.4867 65.9692C66.9979 64.458 68.1775 62.6484 68.9502 60.6559C69.8268 58.3226 70.2968 55.8626 70.3468 53.3692C70.4902 50.1626 70.5335 49.1459 70.5335 41.0026C70.5335 32.8592 70.5335 31.8259 70.3468 28.6359C70.308 26.1102 69.8333 23.6101 68.9435 21.2459ZM64.8835 53.0192C64.862 54.9403 64.5114 56.8434 63.8468 58.6459C63.3462 59.9421 62.5799 61.1192 61.5971 62.1015C60.6142 63.0838 59.4367 63.8494 58.1402 64.3492C56.3576 65.0107 54.4747 65.3614 52.5735 65.3859C49.4068 65.5326 48.5135 65.5692 40.3935 65.5692C32.2668 65.5692 31.4368 65.5692 28.2102 65.3859C26.3099 65.3627 24.4279 65.012 22.6468 64.3492C21.3458 63.8525 20.1635 63.0882 19.1765 62.1058C18.1894 61.1233 17.4196 59.9446 16.9168 58.6459C16.2617 56.8627 15.9112 54.982 15.8802 53.0826C15.7368 49.9159 15.7035 49.0226 15.7035 40.9026C15.7035 32.7792 15.7035 31.9492 15.8802 28.7192C15.9017 26.7993 16.2524 24.8973 16.9168 23.0959C17.9335 20.4659 20.0168 18.3959 22.6468 17.3892C24.4288 16.7297 26.3103 16.3791 28.2102 16.3526C31.3802 16.2092 32.2702 16.1692 40.3935 16.1692C48.5168 16.1692 49.3502 16.1692 52.5735 16.3526C54.4749 16.3755 56.358 16.7261 58.1402 17.3892C59.4366 17.8902 60.614 18.6566 61.5967 19.6393C62.5795 20.6221 63.3459 21.7995 63.8468 23.0959C64.502 24.8791 64.8525 26.7598 64.8835 28.6592C65.0268 31.8292 65.0635 32.7192 65.0635 40.8426C65.0635 48.9626 65.0635 49.8359 64.9202 53.0226H64.8835V53.0192Z" fill="#F7F7F7"/>
                    </svg>
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 81 81" fill="none">
                        <path d="M40.5033 7.54883C22.0967 7.54883 7.17334 22.4722 7.17334 40.8788C7.17334 57.5122 19.36 71.2988 35.2967 73.8088V50.5155H26.83V40.8788H35.2967V33.5355C35.2967 25.1755 40.2733 20.5655 47.8833 20.5655C51.53 20.5655 55.35 21.2155 55.35 21.2155V29.4122H51.1367C47.0033 29.4122 45.71 31.9855 45.71 34.6222V40.8722H54.9467L53.47 50.5088H45.71V73.8022C61.6467 71.3055 73.8333 57.5155 73.8333 40.8788C73.8333 22.4722 58.91 7.54883 40.5033 7.54883Z" fill="#F7F7F7"/>
                    </svg>
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 81 81" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.8433 19.6518C59.0712 16.8614 55.7729 14.6488 52.1395 13.1423C48.5062 11.6357 44.61 10.8651 40.6767 10.8751C24.1833 10.8751 10.7567 24.2984 10.75 40.7984C10.75 46.0718 12.1267 51.2184 14.7433 55.7584L10.5 71.2618L26.3633 67.0984C30.7513 69.4871 35.6673 70.7396 40.6633 70.7418H40.6767C57.1667 70.7418 70.5933 57.3184 70.6 40.8184C70.6113 36.8867 69.8433 32.9917 68.3403 29.3586C66.8372 25.7255 64.6291 22.4263 61.8433 19.6518ZM40.6767 65.6918H40.6667C36.2117 65.6922 31.8388 64.4936 28.0067 62.2218L27.1 61.6818L17.6867 64.1518L20.1967 54.9751L19.6067 54.0351C17.116 50.0698 15.7974 45.481 15.8033 40.7984C15.81 27.0851 26.9667 15.9284 40.6867 15.9284C43.9542 15.9212 47.1907 16.562 50.2088 17.8139C53.227 19.0658 55.9669 20.9039 58.27 23.2218C60.5854 25.5286 62.4206 28.2714 63.6696 31.2918C64.9186 34.3121 65.5566 37.55 65.5467 40.8184C65.54 54.5318 54.3833 65.6918 40.6767 65.6918ZM54.32 47.0618C53.57 46.6851 49.8967 44.8784 49.21 44.6284C48.5267 44.3784 48.03 44.2551 47.53 45.0018C47.03 45.7484 45.5967 47.4318 45.16 47.9318C44.7233 48.4318 44.2867 48.4918 43.54 48.1184C42.7933 47.7451 40.3833 46.9551 37.5267 44.4084C35.3033 42.4251 33.8033 39.9784 33.3667 39.2284C32.93 38.4784 33.32 38.0751 33.6967 37.7018C34.0333 37.3684 34.4433 36.8284 34.8167 36.3918C35.19 35.9551 35.3133 35.6451 35.5633 35.1451C35.8133 34.6451 35.69 34.2084 35.5 33.8351C35.3133 33.4584 33.8167 29.7784 33.1933 28.2818C32.59 26.8318 31.9733 27.0251 31.5133 27.0051C31.0369 26.9856 30.5601 26.9767 30.0833 26.9784C29.7042 26.9881 29.3311 27.076 28.9875 27.2366C28.6439 27.3972 28.3372 27.6271 28.0867 27.9118C27.4 28.6618 25.47 30.4684 25.47 34.1484C25.47 37.8284 28.15 41.3851 28.5233 41.8851C28.8967 42.3851 33.7967 49.9351 41.2967 53.1751C43.0833 53.9451 44.4767 54.4051 45.56 54.7518C47.35 55.3218 48.98 55.2384 50.27 55.0484C51.7067 54.8351 54.6933 53.2418 55.3167 51.4951C55.94 49.7484 55.94 48.2518 55.7533 47.9384C55.5667 47.6251 55.0633 47.4351 54.32 47.0618Z" fill="#F7F7F7"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="Desarrollado">
        <h4>Diseñado y dearollado por <span>DevsCorp</span></h4>
    </div>
</div>
<style>
    .Footer{
        max-width: 100vw;
        max-height: 513px;
        flex-shrink: 0;
        background: #1D1414;
        color: #F7F7F7;
        margin: auto;
        position: relative;
    }
    @media (max-width: 480px) {
        .Footer{
            max-width: 430px;
            max-height: 750px;
        }
    }
    .Logo , form{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.Logo h2{
		text-align: center;
		font-size: 40px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		padding: 0;
		margin: 0;
	}
	.Logo span{
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		font-style: normal;
		line-height: normal;
		margin: auto;
	}
    form{
        width: 320px;
        height: 150px;
        flex-shrink: 0;
    }
    form label{
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    form input[type=email]{
        width: 251px;
        height: 34px;
        flex-shrink: 0;
        background: #1D1414;
        border: none;
        border-bottom: 1px solid #F7F7F7;
        color: #F7F7F7;
    }
    form input:placeholder-shown{
        color: #F7F7F7;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    form input[type=submit]{
        width: 165px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #F7F7F7;
        border: none;
        cursor: pointer;
        color: #000;    
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 7px 34px;
        transition: all ease-in-out 1s;
    }
    .Desarrollado{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80px;
        flex-shrink: 0;
        background: #14161D;
        /* position:absolute; */
        bottom: 0;
    }
    .Desarrollado h4{
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .Desarrollado h4 span{
        font-weight: 900;
    }
    .Informacion{
        display: flex;
        max-width: 1270px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    @media (max-width: 480px){
        .Informacion{
            justify-content: start;
            flex-direction: column;
            /* height: 700px; */
        }
    }
    .Datos{
        display: flex;
        width: 568px;
        width: 50%;
        height: 428px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
    }
    @media (max-width: 480px){
        .Datos{
            width: 394px;
            height: 428px;
        }
    }
    .RedesSociales{
        width: 635px;
        width: 50%;
        height: 201.75px;
        flex-shrink: 0;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 480px) {
        .RedesSociales{
            width: 394px;
            height: 157.418px;
            justify-content: start;
        }
    }
    .RedesSociales h3{
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        /* text-decoration-line: underline; */
    }
    @media (max-width: 480px){
        .RedesSociales h3{
            font-size: 20px;
        }
    }
    .IconosRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    form input[type=submit]:hover{
		box-shadow: 0px 4px 4px 0px rgba(217,217,217,0.2);
		transition: all ease-in-out 1s;
    }
</style>
<script>
    import Swal from 'sweetalert2';
    let FormularioSuscribirse = document.getElementById('FormularioSuscribirse')
    FormularioSuscribirse?.addEventListener('submit',(e)=>{
        e.preventDefault();
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Te Suscribiste!!!',
            showConfirmButton: false,
            timer: 2500
        })
    })
</script>