<div class="GrupoInspirate">
    <img src="Imagen/ImagenInspirar1.jpg" alt="">
    <img src="Imagen/ImagenInspirar2.jpg" alt="">
    <img src="Imagen/ImagenInspirar3.jpg" alt="">
    <img src="Imagen/ImagenInspirar4.jpg" alt="">
    <img src="Imagen/ImagenInspirar5.jpg" alt="">
    <img src="Imagen/ImagenInspirar6.jpg" alt="">
    <img src="Imagen/ImagenInspirar7.jpg" alt="">
</div>
<style>
    .GrupoInspirate{
        width: 1900px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
    }
    .GrupoInspirate img{
        min-width: 500px;
        width: 500px;
        object-fit: cover;
    }
</style>